
@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>EditComment</h1>

<form method="post">
    <input type="email" placeholder="Email" required="" id="txtMail" name="Mail">
    <input type="submit" id="subBtn" value="Abone Ol">

</form>

